
div.lang-switch {
  		padding: 0px !important;
  		border: 0px solid #FFFFFF;
  		text-align: right;
		}
div.lang-switch ul {
  		padding: 0px !important;
  		margin-top: 0px;
		list-style-type: none;
		}
div.lang-switch ul li {
  		float: right;
  		margin: 0px 0px 0px 1px;
  		border: 0px solid;
  		text-align: center;
		}
div.lang-switch ul li a {
  		color: #FFFFFF !important;
  		background-color: #8c8c8c;
  		font-size: 15px;
  		font-weight: 600;
  		text-transform: uppercase;
  		padding: 35px 7px 7px 7px;
  		margin: 0px 0px 0px 0px;
		}
html[lang="ru-RU"] div.lang-switch ul li#language-ru a span,
html[lang="en-US"] div.lang-switch ul li#language-en a span{
		width: 35px !important;
		min-width: 35px !important;
  		}
div.lang-switch ul li.active a,
html[lang="ru-RU"]  div.lang-switch ul li#language-ru a,
html[lang="en-US"]  div.lang-switch ul li#language-en a {
  		color: #FFFFFF;
  		border-bottom: 5px solid #FFFFFF;
		}
html[lang="ru-RU"]  div.lang-switch ul li#language-ru a {
  		background-color: #0099cc;
		}
html[lang="en-US"]  div.lang-switch ul li#language-en a {
  		background-color: #ff0000;
		}



